@import "variables";

.posts,
.projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.project-title-card {
  display: flex;
  gap: 2rem;
  padding-block-end: 1rem;

  img {
    width: 48%;
    object-fit: cover;

    border-inline-start: 5px solid var(--accent-1);
    border-block-start: 5px solid var(--accent-1);
    border-inline-end: 5px solid var(--accent-2);
    border-block-end: 5px solid var(--accent-2);
    border-radius: 10px;

    @media (max-width: $tablet-max-width) {
      display: none;
    }
  }


}

.project-links {
  display: flex;
  gap: 0.5rem;
  margin-block: 0.5rem;
}

.project-code-link {
  width: fit-content;

  a {
    background: var(--accent-2);
    width: fit-content;
    padding: 0.2rem 0.4rem;
  }
}

.post,
.project {
  font-size: 1.2rem;
  position: relative;
  width: 100%;
  text-align: left;
  font-family: "Atkinson Hyperlegible", Helvetica, Roboto, Verdana, sans-serif;
  line-height: 1.5rem;
  padding-block-end: 1.5rem;

  @media (max-width: $tablet-max-width) {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
  }

  %meta {
    font-size: 1rem;
    margin-bottom: 10px;
    color: var(--accent-1);
  }

  &-meta {
    @extend %meta;
  }

  &-meta-inline {
    @extend %meta;

    display: inline;
  }

  &-title {
    --border: 2px dashed var(--accent);
    position: relative;
    color: var(--accent);
  }

  %tags {
    font-size: 1rem;
    opacity: .9;
  }

  &-tags {
    @extend %tags;
    column-gap: 0.5rem;
    row-gap: 0.2rem;
    display: flex;
    flex-wrap: wrap;
  }

  &-tags-inline {
    @extend %tags;

    display: flex;
    gap: 0.75rem;

    @media (max-width: $phone-max-width) {
      display: block;
    }
  }

  &-tags,
  &-tags-inline {
    a {
      white-space: nowrap;
      padding: 0.1rem 0.3rem;
      color: var(--tag-color);
      background: var(--tag-bg);
      border-radius: 5px;
    }
  }

  &-content {
    margin: 10px 0;
  }

  &-cover {
    border: 20px solid var(--accent);
    background: transparent;
    margin: 40px 0;
    padding: 20px;

    @media (max-width: $phone-max-width) {
      padding: 10px;
      border-width: 10px;
    }
  }

  .tag-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.25rem;
    column-gap: 0.5rem;
  }

  .post-tag,
  .tag-list a {
    color: var(--tag-color);
    background: var(--tag-bg);
    white-space: nowrap;
    padding: 0.1rem 0.3rem;
    border-radius: 5px;
  }

  a {
    text-decoration: none;
    color: var(--accent);

    &:hover {
      background: var(--accent);
      //color: var(--background);
      color: var(--color-hover);

      .post-date {
        color: var(--background);
      }

      code {
        background: var(--accent);
      }
    }

    &.zola-anchor {
      display: inline-block;
    }

    &.zola-anchor:hover {
      display: inline-block;
      position: relative;
      background: var(--accent);
      color: var(--background);

      &:before {
        position: absolute;
        right: -1em;
        content: "#";
        color: var(--accent);
        font-weight: normal;
      }
    }
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.2em;
  }

  h3 {
    font-size: 1.8rem;
  }

  ul {
    list-style-type: square;
  }

  .toc-container {
    position: sticky;
    top: 0;

    @media (max-width: 1400px) {
      position: relative;
      width: 100%;
    }

    .toc {
      --toc-width: 18vw;
      position: absolute;
      left: calc(-1 * var(--toc-width) - 2rem);
      width: var(--toc-width);
      min-width: 200px;
      max-height: 96vh;
      overflow-y: auto;
      margin-top: 1rem;
      padding-block: 1rem;
      background: var(--toc-bg);
      border-top: 4px solid var(--accent);
      border-bottom: 4px solid var(--accent);
      font-size: 1rem;

      @media (max-width: 1400px) {
        position: relative;
        left: 0;
        width: 100%;
        margin-bottom: 1rem;
      }

      .toc-header {
        text-align: center;
        font-size: 1.75rem;
        margin-bottom: 1rem;
        margin-inline: 0.5rem;
        padding-bottom: 4px;
        border-bottom: 2px solid;
        text-transform: uppercase;
        font-weight: 800;
        font-family: Inter, Helvetical, Roboto, 'Open-Sans', sans-serif;
        letter-spacing: 2px;
        line-height: 2rem;
      }

      .toc-title {
        font-size: 1.4rem;
        font-weight: 600;
        text-align: center;
        margin-block-end: 10px;
      }

      ol.toc-items {
        counter-reset: h1-count 0;
      }

      /* hierarchical ToC headings */
      li.toc-item {
        list-style-position: inside;
        counter-increment: h1-count 1;

        &::marker {
          content: counter(h1-count, decimal) '. ';
        }

        ol>li {
          counter-increment: h2-count 1;

          &::marker {
            content: counter(h1-count, decimal) '.' counter(h2-count, decimal) '. ';
          }

          ol>li {
            counter-increment: h3-count 1;

            &::marker {
              content: counter(h1-count, decimal) '.' counter(h2-count, decimal) '.' counter(h3-count, decimal) '. ';
            }
          }
        }
      }
    }
  }
}


.post--regulation {
  h1 {
    justify-content: center;
  }

  h2 {
    justify-content: center;
    margin-bottom: 10px;

    &+h2 {
      margin-top: -10px;
      margin-bottom: 20px;
    }
  }
}

.post-list {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-gap: 20px;
  font-family: "Inter";
  text-wrap: nowrap;
}

.post-date {
  color: var(--accent-1);
  font-family: Inter, Verdana, Roboto, 'Open Sans', sans-serif;
}

.post-content::selection,
.post-content *::selection {
  background: var(--accent-1);
}

.langs-block {
  display: flex;
  gap: 0.2rem;
  font-weight: bold;
}

.lang-item {
  color: var(--lang-color) !important;
  font-size: 0.8rem;
  background: var(--lang-bg);
  margin: 0;
  padding: 0 0.25rem
}

.lang-item:hover {
  background: var(--accent);
}
