@import "variables";

.posts {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.post {
  font-size: 1.2rem;
  position: relative;
  width: 100%;
  text-align: left;
  padding: 20px 0;
  font-family: "Atkinson Hyperlegible", Helvetica, Roboto, Verdana, sans-serif;
  line-height: 1.5rem;

  @media (max-width: $tablet-max-width) {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
  }

  %meta {
    font-size: 1rem;
    margin-bottom: 10px;
    color: var(--accent-alpha-70);
  }

  &-meta {
    @extend %meta;
  }

  &-meta-inline {
    @extend %meta;

    display: inline;
  }

  &-title {
    --border: 2px dashed var(--accent);
    position: relative;
    color: var(--accent);
  }

  %tags {
    font-size: 1rem;
    opacity: .9;
  }

  &-tags {
    @extend %tags;

    display: block;
  }

  &-tags-inline {
    @extend %tags;

    display: flex;
    gap: 0.75rem;

    @media (max-width: $phone-max-width) {
      display: block;
    }
  }

  &-content {
    margin: 10px 0;
  }

  &-cover {
    border: 20px solid var(--accent);
    background: transparent;
    margin: 40px 0;
    padding: 20px;

    @media (max-width: $phone-max-width) {
      padding: 10px;
      border-width: 10px;
    }
  }

  .post-tag,
  .tag-list a {
    color: $tag-color;
  }

  a {
    text-decoration: none;
    color: var(--accent);

    &:hover {
      background: var(--accent);
      color: var(--background);

      .post-date {
        color: var(--background);
      }

      code {
        background: var(--accent);
      }
    }

    &.zola-anchor {
      display: inline-block;
    }

    &.zola-anchor:hover {
      display: inline-block;
      position: relative;
      background: var(--accent);
      color: var(--background);

      &:before {
        position: absolute;
        right: -1em;
        content: "#";
        color: var(--accent);
        font-weight: normal;
      }
    }
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.2em;
  }

  h3 {
    font-size: 1.8rem;
  }


  ul {
    li {
      li {
        padding-inline-start: 2rem;
      }
    }
  }

  ul {
    list-style-type: square;
  }

  .toc-container {
    position: sticky;
    top: 0;

    @media (max-width: 1400px) {
      position: relative;
      width: 100%;
    }

    .toc {
      --toc-width: 15vw;
      position: absolute;
      left: calc(-1 * var(--toc-width) - 2rem);
      width: var(--toc-width);
      min-width: 200px;
      max-height: 90vh;
      overflow-y: auto;
      margin-top: 1rem;
      padding: 1rem;
      backdrop-filter: brightness(60%);
      border-top: 4px solid var(--accent);
      border-bottom: 4px solid var(--accent);

      @media (max-width: 1400px) {
        position: relative;
        left: 0;
        width: 100%;
        margin-bottom: 1rem;
      }

      .toc-header {
        text-align: center;
        font-size: 1.75rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid;
        padding-bottom: 4px;
        text-transform: uppercase;
        font-weight: 800;
        font-family: Inter, Helvetical, Roboto, 'Open-Sans', sans-serif;
        letter-spacing: 2px;
        line-height: 2rem;
      }

      ol {
        padding-inline-start: 1.5rem;
      }

      ol.toc-items {
        padding-left: 2rem;
        counter-reset: h1-count 0;
      }

      /* hierarchical ToC headings */
      li.toc-item {
        font-size: 1.15rem;
        margin: 0.4rem 0;
        list-style-position: outside;
        counter-increment: h1-count 1;

        &::marker {
          content: counter(h1-count, decimal) '. ';
        }

        ol>li {
          counter-increment: h2-count 1;

          &::marker {
            content: counter(h1-count, decimal) '.' counter(h2-count, decimal) ' ';
          }
        }
      }
    }
  }
}


.post--regulation {
  h1 {
    justify-content: center;
  }

  h2 {
    justify-content: center;
    margin-bottom: 10px;

    &+h2 {
      margin-top: -10px;
      margin-bottom: 20px;
    }
  }
}

.post-list {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-gap: 20px;
  font-family: "Inter";
  text-wrap: nowrap;
}

.post-date {
  color: var(--accent-alpha-70);
  font-family: Inter, Verdana, Roboto, 'Open Sans', sans-serif;
}

.post-content::selection,
.post-content *::selection {
  background: var(--accent-alpha-70);
}
