@import "variables";

.posts {
  width: 100%;
  margin: 0 auto;
}

.post {
  position: relative;
  width: 100%;
  text-align: left;
  margin: 20px auto;
  padding: 20px 0;

  @media (max-width: $tablet-max-width) {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
  }

  %meta {
    font-size: 1rem;
    margin-bottom: 10px;
    color: var(--accent-alpha-70);
  }

  &-meta {
    @extend %meta;
  }

  &-meta-inline {
    @extend %meta;

    display: inline;
  }

  &-title {
    --border: 2px dashed var(--accent);
    position: relative;
    color: var(--accent);
    margin: 0 0 15px;
    padding-bottom: 15px;
    border-bottom: var(--border);
    font-weight: normal;

    a {
      text-decoration: none;
    }
  }

  %tags {
    margin-bottom: 20px;
    font-size: 1rem;
    opacity: .9;
  }

  &-tags {
    @extend %tags;

    display: block;
  }

  &-tags-inline {
    @extend %tags;

    display: inline;

    @media (max-width: $phone-max-width) {
      display: block;
    }
  }

  &-content {
    margin-top: 30px;
  }

  &-cover {
    border: 20px solid var(--accent);
    background: transparent;
    margin: 40px 0;
    padding: 20px;

    @media (max-width: $phone-max-width) {
      padding: 10px;
      border-width: 10px;
    }
  }

  ul {
    margin: 0;
  }

  ul:first-of-type {
    margin-left: 0;
  }

  ul > li {
    margin-left: 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .toc-container {
    position: sticky;
    top: 0;

    .toc {
      @media (max-width: 1400px) {
        display: none;
      }
      margin-top: 1rem;
      position: absolute;
      left: calc(-10vw - 3rem);
      width: 10vw;
      min-width: 200px;
      padding: 1rem;
      backdrop-filter: brightness(50%);
      border-top: 4px solid var(--accent);
      border-bottom: 4px solid var(--accent);

      .toc-header {
        text-align: center;
        font-size: 2rem !important;
        margin-bottom: 1rem;
        border-bottom: 2px solid;
        padding-bottom: 4px;
      }

      .toc-items {
      }

      .toc-item {
        font-size: 1.4rem;
        margin: 0.5rem 0;
      }
    }
  }
}


.post--regulation {
  h1 {
    justify-content: center;
  }

  h2 {
    justify-content: center;
    margin-bottom: 10px;

    &+ h2 {
      margin-top: -10px;
      margin-bottom: 20px;
    }
  }
}

.post-list {
  display: flex;
  gap: 1rem;
  align-items: flex-start;

  .post-date {
    color: var(--accent-alpha-70);
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }
}
