$phone-max-width: 683px;
$tablet-max-width: 899px;

$code-bash: hsl(140, 8%, 12%);
$code-c: hsl(100, 10%, 35%);
$code-php: hsl(230, 28%, 64%);
$code-powershell: hsl(202, 98%, 36%);
$code-python: #7ebc90;
$code-rust: #f6a59e; //hsl(5, 100%, 60%);
$code-lua: hsl(240, 90%, 65%);

$code-border: #E0E0E0;
$code-dark: #222;
$code-light: #DDD;
$code-line-num: #777;
$code-hl: #ebdea2;
$code-inline-bg: #555555;

$tag-color: #66c8ff;

$add-color: #A0BB8A;
$del-color: #BF616A;
