{% macro menu(config, current_path, res) %}
    {% set current_item = false %}
    {% if res.nav.items %}
        {% set menu_items = res.nav.items %}
            {% for item in menu_items %}
                {% if not item.external %}
                    {% if res.settings_locale == config.default_language %}
                        {% set is_current = item.url == current_path | split(pat="/") | nth(n=1) | trim %}
                    {% else %}
                        {% set is_current = item.url == current_path | split(pat="/") | nth(n=2) %}

                    {% endif %}
                {% endif %}

                {% if is_base %}
                    {% set_global base_item = item %}
                {% endif %}

                {% if is_current and not is_base %}
                    {% set_global current_item = item %}
                {% endif %}
            {% endfor %}

            {% if not current_item and base_item %}
                {# Did not match any menu URLs -- assume it's a blog post #}
                {% set current_item = base_item %}
            {% endif %}

            {{ menu_macros::menu_for(config=config, current_item=current_item, res=res) }}
    {% endif %}
{% endmacro menu %}

{% macro menu_for(config, current_item, res) %}
    {% if res.nav.items %}
        {% set menu_items = res.nav.items %}
        <nav class="menu">
            <ul class="menu__inner">
            {% for item in res.nav.items %}
                <li {% if current_item and current_item == item %} class="active" {% endif %}>
                    {% if item.external %}
                        {% if item.newtab %}
                            <a class="external-link" href="{{ item.url | safe}}" target="_blank" rel="noopener noreferrer">{{ item.name | safe }}</a>
                        {% else %}
                            <a class="external-link" href="{{ item.url | safe }}">{{ item.name | safe }}</a>
                        {% endif %}
                    {% else %}
                        {% if config.default_language == res.settings_locale %}
                            {% set url = get_url(path=item.url) %}
                        {% else %}
                            {% set url = get_url(path=item.url, lang=lang) %}
                        {% endif %}

                        {% if item.newtab %}
                            <a href={{ url }} target="_blank" rel="noopener noreferrer">{{ item.name | safe }}</a>
                        {% else %}
                            <a href="{{ url }}">{{ item.name | safe }}</a>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </nav>
    {% endif %}
{% endmacro menu %}

