{% macro content(page, summary, show_only_description) %}
    {%- if show_only_description %}
        <div class="post-content">
            {{ page.description | safe }}
        </div>
        <div>
            <a class="read-more button" href="{{ page.permalink | safe }}">
                <span class="button__text">Read more</span>
            </a>
        </div>
    {% elif summary and page.summary %}
        <div class="post-content">
            {{ page.summary | safe }}
        </div>
        <div>
            <a class="read-more button" href="{{ page.permalink | safe }}">
                <span class="button__text">Read more</span>
            </a>
        </div>
    {% else %}
        {#- full content -#}
        <div class="post-content">
            {{ page.content | safe }}
        </div>
    {%- endif %}
{% endmacro content %}


{% macro date(page) %}
    <span class="post-date">
        {%- if page.date %}
            {{ page.date | date(format="%b %d, %Y") }}
        {% endif -%}
    </span>
{% endmacro post_date %}


{% macro earlier_later(page) %}
    {%- if config.extra.enable_post_view_navigation %}
        {%- if page.lower or page.higher %}
            <div class="pagination">
                <div class="pagination__title">
                    <span class="pagination__title-h">{{ config.extra.post_view_navigation_prompt }}</span>
                    <hr />
                </div>
                <div class="pagination__buttons">
                    {%- if page.higher %}
                        <span class="button previous">
                            <span class="button__icon">«&nbsp;</span>
                            <a href="{{ page.higher.permalink | safe }}">
                                <span class="button__text">{{ page.higher.title }}</span>
                            </a>
                        </span>
                    {% endif %}
                    {% if page.lower %}
                        <span class="button next">
                            <a href="{{ page.lower.permalink | safe }}">
                                <span class="button__text">{{ page.lower.title }}</span>
                            </a>
                            <span class="button__icon">&nbsp;»</span>
                        </span>
                    {% endif -%}
                </div>
            </div>
        {% endif -%}
    {% endif -%}
{% endmacro earlier_later %}


{% macro header(page) %}
    <h1 id="title" class="post-title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h1>
    {% if page.extra.project_src_link or page.extra.project_demo_link or page.translations | length > 1 %}
    <div class="project-links">
        {%- if page.extra.project_src_link %}
        <div class="project-code-link">
            <a href="{{ page.extra.project_src_link }}">Source code</a>
        </div>
        {% endif -%}
        {%- if page.extra.project_demo_link %}
        <div class="project-code-link">
            <a href="{{ page.extra.project_demo_link }}">Demo</a>
        </div>
        {% endif -%}

        {% if page.translations | length > 1 %}
        <div class="langs-block">{%- for lang_page in page.translations %}<a class="lang-item" href="{{lang_page.permalink}}">{{ lang_page.lang | upper }}</a>{% endfor -%}</div>
        {% endif %}
    </div>
    {% endif %}

    {% if not page.extra.disable_post_stats %}
    <div class="post-meta-inline">
        {%- if page.date %}
        <div>
            <h4>Published</h4>
            <div>{{ post_macros::date(page=page) }}</div>
        </div>
        {% endif -%}

        {% if page.updated %}
        <div>
            <h4>Last edited</h4>
            <div>{{ page.updated | date(format="%b %d, %Y") }}</div>
        </div>
        {% endif %}

        <div>
            <h4>Reading time</h4>
            {% if page.reading_time == 1 %}
            <div>{{ page.reading_time }} minute</div>
            {% else %}
            <div>{{ page.reading_time }} minutes</div>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div>
    {{ post_macros::tags(page=page) }}
    </div>
{% endmacro header %}


{% macro list_posts(pages) %}
    <div class="post-list">
    {%- for page in pages %}
        {%- if page.draft %}
            {% continue %}
        {% endif -%}
        <div>
            <div class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</div>
            {% if page.translations | length > 1 %}
            <div class="langs-block">{%- for lang_page in page.translations %}<a class="lang-item" href="{{lang_page.permalink}}">{{ lang_page.lang | upper }}</a>{% endfor -%}</div>
            {% endif %}
        </div>
        <div class="post-title-tags">
            <a class="post-list-title" href="{{ page.permalink | safe }}">{{ page.title }} </a>
        </div>
    {% endfor -%}
    </div>
{% endmacro list_posts %}


{% macro tags(page) %}
    {%- if page.taxonomies and page.taxonomies.tags %}
        <div class="post-tags">
            {%- for tag in page.taxonomies.tags | sort | unique(case_sensitive=false) %}
                <a class="post-tag" href="{{ get_taxonomy_url(kind='tags', name=tag) | safe }}">#{{ tag }}</a>
            {% endfor -%}
        </div>
    {% endif -%}
{% endmacro tags %}
