{% extends "index.html" %}
{%- block title -%}
    {{<title page_title={section.title} main_title={config.title} config={config} />}}
{%- endblock -%}
{% block content %}
    <div class="post">
        {% for sub_dir in section.extra.archive_dirs %}
            {% set sub_section = get_section(path=sub_dir ~ "/_index.md", lang=lang) %}
            <h2 id={{ sub_section.title }}>
                <a class="zola-anchor" href="#{{ sub_section.title }}">{{ sub_section.title }}</a>
            </h2>
            {% if not sub_section.pages %}{{ res[lang].errors.empty_section }}{% endif %}
            {{<list_posts pages={sub_section.pages} res={res} lang={lang} />}}
        {% endfor %}
    </div>
{% endblock content %}
