{% extends "base.html" %}

{% block content %}
<div class="projects">
    {%- if paginator %}
        {%- set show_pages = paginator.pages -%}
    {% else %}
        {%- set show_pages = section.pages -%}
    {% endif -%}

    {% if not show_pages %}
        {{res[lang].errors.empty_section}}
    {% endif %}

    {%- for page in show_pages %}
        <div class="project on-list">
            <div class="project-title-card">
                {%- if page.extra.project_image %}
                    <img src="/images/{{ page.extra.project_image }}" />
                {% endif -%}
                <div>
                    {{ post_macros::header(page=page, res=res) }}
                    {{ page.description }}
                </div>
            </div>
            <div>
                <a class="read-more button" href="{{ page.permalink | safe }}">
                    <span class="button__text">{{res[lang].read_more}}</span>
                </a>
            </div>
        </div>
    {% endfor -%}
    <div class="pagination">
        <div class="pagination__buttons">
        {%- if paginator.previous %}
            <span class="button previous">
                <a href="{{ paginator.previous | safe }}">
                    <span class="button__icon">←</span>&nbsp;
                    <span class="button__text">{{res[lang].nav.newer_posts}}</span>
                </a>
            </span>
        {% endif -%}
        {%- if paginator.next %}
            <span class="button next">
                <a href="{{ paginator.next | safe }}">
                    <span class="button__text">{{res[lang].nav.older_posts}}</span>&nbsp;
                    <span class="button__icon">→</span>
                </a>
            </span>
        {% endif -%}
        </div>
    </div>
</div>
{% endblock content %}
